@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Poppins:wght@300&family=Sacramento&display=swap');
html,
body {
    overflow-x: hidden;
}

#loading {
    width: 100%;
    height: 100vh;
    background: white url('spinner.gif') no-repeat center;
    z-index: 1000;
}

.container-fluid {
    background-image: url("dribble.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: white;
}

nav a {
    padding: 0px 0px 0px 20px;
}

nav a:hover {
    color: teal !important;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

ul li {
    padding: 0px 0px 0 20px;
    color: white;
    font-size: 1.2rem;
}

img {
    width: 50%;
    height: 25%;
    border-radius: 80%;
}

.avtaar img {
    border: 3px solid teal !important;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: justify;
    font-family: 'poppins';
}

p span {
    font-size: 2rem;
    color: red;
}

p #iam {
    color: white;
}

.main-content {
    font-size: 1.2rem;
    /* background: rgba(11, 22, 22, 0.2); */
    padding: 20px;
}

.sub-info {
    font-size: 1.2rem;
    background: rgba(195, 218, 90, 0.3);
    padding: 20px 10px;
    border-radius: 10px;
}

.btn {
    color: white;
    background: teal;
    /* display: block; */
    border: none;
}

.btn:hover {
    background: rgb(4, 78, 78);
}

#download {
    animation: animate 1s infinite alternate;
}

@keyframes animate {
    0% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(4px);
    }
}

.fa-external-link-square-alt {
    animation: link 1s infinite alternate;
}

@keyframes link {
    0% {
        transform: translateX(2px);
    }
    100% {
        transform: translate(-3px);
    }
}

#ani {
    text-transform: uppercase;
    font-family: 'poppins';
    font-weight: 100;
}

.section {
    margin: 100px auto 0 auto;
}

.section-head {
    text-align: center;
    margin-bottom: 40px;
    color: teal;
}

.section-head:after {
    content: "";
    background: teal;
    width: 100px;
    height: 3px;
    top: 100%;
    left: 0;
    display: block;
    margin: 10px auto;
}

.progress-bar {
    background: teal;
    color: white;
}

.handle img {
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px !important;
}

.card-img-top {
    border-radius: 0;
}

.handles-body {
    background: rgb(248, 245, 245);
    color: black;
    font-family: 'poppins';
}

.nightmode {
    padding: 0;
    margin: 0;
}

.fa-linkedin,
.fa-github,
.hackerrank,
.fa-school,
.fa-graduation-cap,
.fa-code,
.fa-microphone,
.fa-pen-fancy,
.fa-headphones {
    font-size: 8rem;
    display: block;
    margin: 0px auto;
}

.project-li {
    display: block;
    margin: 0 auto;
}

.project-card {
    margin-bottom: 10px;
    font-family: 'poppins';
    font-size: 1.1rem;
}

.project-li li {
    margin-bottom: 5px;
}

#intrests .card-body i:hover {
    color: teal;
}

.contact {
    font-size: 1.2rem;
    text-align: left !important;
    font-family: 'poppins';
}

.contact i {
    font-size: 20px;
    margin: 10px;
}

.contact a {
    color: black;
}

.contact a:hover {
    color: rgb(0, 153, 255);
}

footer {
    color: white;
}

#my-name {
    /* my name in footer */
    font-family: 'sacramento' !important;
    color: white;
}

#topfullname {
    font-family: 'sacramento', poppins;
    color: white;
}

#nav-toggle {
    width: 30px;
    animation: toggle 2s infinite alternate;
}

@keyframes toggle {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(2px);
    }
}

.navbar-toggler {
    border: 2px solid black !important;
}


/* light mode/ dark mode */

.switch {
    line-height: 1;
}

.dark-mode {
    background: black;
}

.dark-mode .card {
    color: white;
    background: #000;
    border: 1px solid white;
}

.dark-mode h1 {
    color: white;
}

.dark-mode nav {
    background: #000 !important;
}

.dark-mode a {
    color: white !important;
}

.dark-mode .handles-body {
    background: #000;
    color: white !important;
}

.dark-mode i,
.dark-mode #contact p {
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: teal;
}

input:focus+.slider {
    box-shadow: 0 0 1px teal;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dark-mode #randologo {
    position: absolute;
    background: url('universe.jpg');
    width: 100vw;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -11;
}


/* media query goes here */

@media only screen and (max-width: 500px) {
    .section {
        margin: 100px auto 0 auto;
    }
    .contact {
        font-size: 0.9rem;
        text-align: justify !important;
    }
    .contact i {
        font-size: 12px;
        margin: 5px;
    }
    #mytopname {
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 0;
    }
    #iam,
    #ani {
        font-size: 20px;
    }
    footer {
        font-size: 15px;
    }
    .fa-code,
    .fa-microphone,
    .fa-pen-fancy,
    .fa-headphones {
        font-size: 3rem !important;
    }
}